{% load static %}
<!DOCTYPE html>
<!-- [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif] -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sandesh &mdash; Resume</title>
	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 
	Email: sandeshlodhinarvariya@gmail.com
	Twitter: http://twitter.com/sandeshnarvariya
	Facebook: https://www.facebook.com/sandeshlodhi

	//////////////////////////////////////////////////////
	-->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->


	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static '/resume/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static '/resume/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static '/resume/css/bootstrap.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static '/resume/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static '/resume/js/modernizr-2.6.2.min.js' %}"></script>

	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div id="fh5co-main">
		<div class="fh5co-tab-wrap">
			<ul class="fh5co-tab-menu">
				<li class="active"><a href="#" data-tab="1"><span class="icon icon-glass"></span><span
							class="menu-text">Profile</span></a></li>

				<li><a href="#" data-tab="2"><span class="icon icon-graduation-cap"></span><span
							class="menu-text">Education</span></a></li>

				<li><a href="#" data-tab="3"><span class="icon icon-black-tie"></span><span class="menu-text">Projects &
							Work</span></a></li>

				<li><a href="#" data-tab="4" data-pie="yes"><span class="icon icon-fighter-jet"></span><span
							class="menu-text">Skills</span></a></li>

				<li><a href="#" data-tab="5"><span class="icon icon-headphones"></span><span class="menu-text">Contect
							Me</span></a></li>
			</ul>
			<!-- Tab 1 for Profile  -->
			<div class="fh5co-tab-content active" data-content="1">
				<div class="fh5co-content-inner text-center">
					<div class="row row-bottom-padded-sm">
						<div class="col-md-12">
							<figure>
								<img style="height: 5cm; border-radius:50%;"
									src="{% static '/resume/images/profile_img.jpeg' %}"
									alt="Free HTML5 Wesbite Template by FreeHTML5.co">
							</figure>
							<h1>Sandesh Narvariya</h1>
							<p>Seeking entry-level or internship opportunities for Python Developer, Data Analyst, and
								Data Science.
								I am from <a href="https://en.wikipedia.org/wiki/Ashoknagar_(Madhya_Pradesh)">Ashok
									Nagar (MP)</a>. I completed my graduation in
								Bachelor in engineering Electronics stream from <a
									href="https://mitsgwalior.in/index.php">Madhav Institute technology and Science,
									Gwalior.</a> in 2020
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 fh5co-counter">
							<div class="fh5co-number fh5co-left">01</div>
							<div class="fh5co-text">
								<h3 class="border-bottom">Years of experience in Python Devloping</h3>
								<p>Seeing much, suffering much, and studying much, are the three pillars of learning.
								</p>
							</div>
						</div>
					</div>
					<ul class="fh5co-social">
						<li><a href="#"><i class="icon-envelope"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-instagram"></i></a></li>
						<li><a href="https://myaccount.google.com/intro/profile"><i class="icon-google"></i></a></li>
						<li><a href="https://www.linkedin.com/in/sandesh-narvariya-644756b2/"><i
									class="icon-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			<!-- Tab 2 for Eduction portal -->
			<div class="fh5co-tab-content" data-content="2">
				<div class="fh5co-content-inner">
					<div class="row">
						<div class="col-md-12">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores maiores a, dolorem
								quasi iste suscipit voluptate voluptatum id deserunt rem velit maxime earum
							</p>

							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-graduation-cap"></i>
								</div>
								<div class="fh5co-text">
									<h2>2017-2020</h2>
									<p>Electronics
										<br>
										<a href="https://mitsgwalior.in/index.php">Madhav institute of technology and
											science, Gwalior</a>
									</p>
								</div>
							</div>

							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-graduation-cap"></i>
								</div>
								<div class="fh5co-text">
									<h2>2013-2017</h2>
									<p>Electronics & TeleCommunication
										<br>
										<a href="https://gpcashoknagar.net/">Govt. Polytechnic College Ashok Nagar
											(M.P.)</a>
									</p>
								</div>
							</div>

							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-graduation-cap"></i>
								</div>
								<div class="fh5co-text">
									<h2>2012-2013</h2>
									<p>Matriculation (Class X)
										<br>
										<a href="https://www.navodaya.gov.in/nvs/nvs-school/ASHOKNAGAR/en/home/">Jawahar
											Navodaya vidyalaya, Ashok Nagar (M.P.)</a>
									</p>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
			<!--tab 3 for project and job -->
			<div class="fh5co-tab-content" data-content="3">
				<div class="fh5co-content-inner">
					<div class="row">
						<div class="col-md-12">

							<p>I have the privilege to work with these cool companies.</p>

							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-black-tie"></i>
								</div>
								<div class="fh5co-text">
									<h2></h2>
									<h3>XYZ Inc.</h3>
									<p>Far far away, behind the word mountains, far from the countries.</p>
								</div>
							</div>

							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-black-tie"></i>
								</div>
								<div class="fh5co-text">
									<a href="#" class="card-link"><h2>Data Ana</h2></a>
									<h3>Previous Ltd Co.</h3>
									<p>Far far away, behind the word mountains, far from the countries.</p>
								</div>
							</div>

							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-black-tie"></i>
								</div>
								<div class="fh5co-text">
									<h2>Web Devloper</h2>
									<h3>Previous Ltd Co.</h3>
									<p>Far far away, behind the word mountains, far from the countries.</p>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
			<!--tab 4 for skills-->
			<div class="fh5co-tab-content" data-content="4">
				<div class="fh5co-content-inner">
					<div class="row">
						<h3>Data Analyst or Data Science skills</h3>
						<div class="col-md-12">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores maiores a, dolorem
								quasi iste suscipit voluptate voluptatum id deserunt rem velit maxime earum</p>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="70"><span><strong>Python</strong>70%</span></div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="60"><span><strong>ML</strong>60%</span></div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="50"><span><strong>SQL</strong>50%</span></div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="70"><span><strong>Power BI</strong>70%</span></div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="60"><span><strong>MS-Excel</strong>60%</span></div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="50"><span><strong>MongoDB</strong>50%</span></div>
						</div>
						<div class="row">
							<h3>Web Developer Skills</h3>

							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<div class="chart" data-percent="60"><span><strong>Django</strong>60%</span></div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<div class="chart" data-percent="70"><span><strong>HTML</strong>70%</span></div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<div class="chart" data-percent="65"><span><strong>CSS</strong>65%</span></div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- tab 5 for contect -->
			<div class="fh5co-tab-content" data-content="5">
				<div class="fh5co-content-inner">
					<div class="row">
						<form action="submit" method="post">
							{% csrf_token %}
							<div>
								<div class="mb-3">
									<label for="username" class="form-label">Name</label>
									<input type="text" class="form-control" name="username" id="username" placeholder="Enter name">
								</div>
								<div class="mb-3">
									<label for="exampleFormControlInput1" class="form-label">Email address</label>
									<input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
								</div>
								<div class="mb-3">
									<label for="exampleFormControlTextarea1" class="form-label">Message</label>
									<textarea class="form-control" name="message" id="message" rows="3"></textarea>
								</div>
								<div class="btn">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer id="fh5co-footer">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<small>
						&copy; 2021 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, provident.. <span
							class="fh5co-author">
							Designed by <a href="#" target="_blank">Sandesh Narvariya</a>
						</span>
					</small>
				</div>
			</div>
		</footer>
	</div>

	<!-- jQuery -->
	<script src="{% static '/resume/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static '/resume/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static '/resume/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static '/resume/js/jquery.waypoints.min.js' %}"></script>
	<!-- Easy PieChart -->
	<script src="{% static '/resume/js/jquery.easypiechart.min.js' %}"></script>
	<!-- MAIN JS -->
	<script src="{% static '/resume/js/main.js' %}"></script>


	<script>console.log("this is test");</script>
</body>

</html>